@container: home-layout;

.@{container} {
    background-color: #ffffff00 !important;
    overflow: hidden;
    & &-nav-bar {
        position: fixed;
        height: 45px;
        width: 100%;
        z-index: 9000;
        background-color: #ffffff00;
        &-home {
            font-size: 27px;
            color: #000000;
        }
        &-teams {
            height: 28px;
            width: 28px;
        }
    }
    &-content {
        width: 100vw;
        height: calc(100vh - 45px);
        margin-top: 45px;
        overflow: hidden;
    }
}
