@container: favorite-widget;

.@{container} {
    height: 210px;
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & &-banner {
        height: 255px;
        width: 255px;
        z-index: 0;
        -ms-transform: rotate(540deg) scale(1.2) translateX(-100px) translateY(29px);
        -webkit-transform: rotate(540deg) scale(1.2) translateX(-100px) translateY(29px);
        -moz-transform: rotate(540deg) scale(1.2) translateX(-100px) translateY(29px);
        -o-transform: rotate(540deg) scale(1.2) translateX(-100px) translateY(29px);
        transform: rotate(540deg) scale(1.2) translateX(-100px) translateY(29px);
    }
    & &-title {
        color: rgb(255, 36, 0);
        position: absolute;
        top: 0px;
        font-size: 22px;
    }
    & &-subtitle {
        color: rgb(0, 0, 0);
        position: absolute;
        top: 42px;
        font-size: 11px;
        width: 220px;
        right: 20px;
    }
    & &-avatar {
        height: 140px;
        width: 140px;
        z-index: 1;
        position: relative;
        right: 220px;
    }
}
