@container: pokemon-modal;

.@{container} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 260px;
    padding: 20px;
    & &-name {
        font-size: 20px;
    }
    & &-catch {
        margin-top: 10px;
        font-size: 16px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
