@container: home;

.@{container} {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    & &-title {
        font-size: 28px;
        margin-bottom: 20px;
        .skew-container {
            display: flex;
            .skew {
                margin-left: 37px;
                background-color: #ff2400;
                padding-left: 10px;
                padding-right: 10px;
                color: #fff;
                border-radius: 8px;
                transform: skew(0deg, -11deg) translateY(-15px);
            }
        }
    }
    & &-number-total {
        width: 100%;
        margin-bottom: 20px;
        .col-container {
            text-align: center;
        }
        .tag-container {
            width: 78%;
            border-radius: 30px;
            font-size: 15px;
            padding: 5px 5px 4px;
        }
        .tag-content {
            line-height: 0;
        }
    }
    & &-catch {
        width: 100%;
        font-size: 16px;
    }
}
