@container: skew-footer;

.@{container} {
    & &-background {
        height: 200px;
        width: 103%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: -140px;
        transform: skew(0deg, -4deg);
        border-radius: 60px;
        left: -7px;
        z-index: 0;
    }
    & &-action-container {
        position: fixed;
        height: 45px;
        width: 100%;
        bottom: 0;
        border-radius: 40px;
        z-index: 1;
        &-button {
            font-family: Luckiest Guy, cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
                Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
            font-size: 18px !important;
        }
    }
}
