@container: modal-wrapper;

.@{container} {
    .ant-modal-content {
        border-radius: 15px;
    }
    & &-close {
        position: absolute;
        color: #ff2400;
        right: 15px;
        top: 15px;
        z-index: 1000;
    }
    & &-close-icon {
        font-size: 20px;
    }
    & &-content-container {
        max-height: 60vh;
        overflow: auto;
    }
}
