@container: gotcha-modal;

.@{container} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 260px;
    padding: 20px;
    & &-form-container {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    & &-gotcha-icon {
        height: 70px;
        width: 75px;
        margin-bottom: 15px;
    }
    & &-input {
        font-size: 13px;
        color: rgb(255, 156, 13);
        text-align: center;
        border-radius: 8px;
        font-family: Luckiest Guy, cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
            sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    }
    & &-button {
        margin-top: 15px;
        font-size: 16px;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
