@container: pokedex-card;

.@{container} {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 50%;
    & &-body-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 155px;
        width: 155px;
    }
    & &-background {
        position: absolute;
        z-index: 0;
        top: -10px;
        filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 1px 2px);
    }
    & &-avatar {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 20px;
        text-align: center;
        height: 80px;
        width: 80px;
    }
    & &-name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 26px;
        text-align: center;
        font-size: 18px;
    }
}
