@container: catch-card;

.@{container} {
    display: block;
    position: relative;
    height: 240px;
    width: 240px;
    & &-catch-background {
        position: absolute;
        height: 220px;
        width: 230px;
        z-index: 0;
        bottom: -20px;
        left: 10px;
        transform: rotate(184deg);
    }
    & &-catch-skeleton {
        position: relative;
        height: 130px;
        width: 130px;
        z-index: 1;
        bottom: -35px;
        left: 0;
    }
    & &-catch-avatar {
        position: relative;
        height: 150px;
        width: 150px;
        z-index: 1;
        bottom: -35px;
        left: 0;
    }
    & &-catch-name {
        position: absolute;
        font-size: 26px;
        color: #ffffff;
        z-index: 1;
        bottom: 16px;
        left: 8px;
        right: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
