@container: bottom-sheet;

.@{container} {
    position: fixed;
    height: calc(100vh + 100px);
    width: 100vw;
    z-index: 100;
    border-radius: 20px;
    background: #fff;
    & &-bangs-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        & .lines {
            height: 4px;
            width: 100px;
            background-color: #eeeeee;
        }
    }
    & &-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45px;
    }
    & &-content-container {
        height: calc(100vh - 100px);
        width: 100vw;
    }
}
