@container: pokemon-information;

.@{container} {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    & &-avatar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    & &-id-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 65px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 8px;
        transform: skew(0deg, -5deg);
    }
    & &-name-container {
        font-size: 30px;
        color: #ff2400;
    }
    & &-types-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    & &-fact-container {
        font-size: 18px;
        color: rgb(0, 0, 0);
        margin-top: 5px;
    }
    & &-description-container {
        font-size: 14px;
        font-family: Concert One, Luckiest Guy, cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
            Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        color: #000000;
    }

    & &-release {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        margin-top: 30px;
        font-family: Luckiest Guy, cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
            sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    &-skew-footer-icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
}
