html {
    background-color: #ffffff;
    overflow: hidden;
    width: 100vw;
}

body {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: #ffffff;
}

.none {
    visibility: hidden;
}

.unset {
    display: unset;
}

.primary-color {
    color: #ff2400;
}

.top-10 {
    margin-top: 10px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.list-view-section-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.am-card.am-card-full {
    border: none !important;
}

.am-card.am-card-full:before {
    height: 0 !important;
    background-color: #ffffff !important;
}

.am-card.am-card-full:after {
    height: 0 !important;
    background-color: #ffffff !important;
}

.am-card-body {
    border: none;
}

.am-card-body:before {
    height: 0 !important;
    background-color: #ffffff !important;
    border: none;
}

.flicking {
    width: 100%;
    height: 255px;
    margin: 0 auto;
}

.flicking .panel,
.flicking .infinite {
    position: relative;
    display: block;
    border-radius: 5px;
    width: 400px;
    margin-top: 5px;
    background: #f55;
    height: 120px;
    text-align: center;
    line-height: 120px;
}
